## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [81]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [82]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[84, 3, 54, 43, 21, 67, 41, 78, 36, 61, 63, 48, 35, 14, 45, 69, 32, 60, 96, 55, 49, 29, 90, 89, 17, 51, 1, 4, 20, 79, 87, 2, 75, 42, 92, 40, 82, 6, 10, 5, 56, 64, 68, 98, 39, 93, 81, 91, 58, 23, 24, 62, 7, 30, 34, 11, 80, 77, 44, 65, 50, 53, 9, 26, 18, 74, 76, 16, 25, 22, 52, 71, 57, 13, 38, 83, 88, 94, 37, 73]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [83]:
set1 = set(sample_list_1)
print(set1)
print(len(set1))
      
# The length is still 80.

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 96, 98}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [84]:
import random
sample_list_2 = []
for num in range(80): 
    sample_list_2.append (random.randint(0,100))
print(sample_list_2)

[99, 31, 82, 24, 1, 57, 7, 92, 38, 25, 84, 42, 98, 14, 37, 73, 26, 56, 40, 83, 22, 17, 65, 22, 61, 82, 20, 70, 10, 44, 79, 43, 39, 50, 82, 66, 17, 85, 49, 34, 52, 70, 20, 58, 60, 55, 1, 54, 70, 24, 98, 23, 19, 75, 65, 69, 32, 68, 77, 87, 51, 67, 86, 75, 61, 57, 29, 15, 66, 16, 27, 3, 61, 3, 11, 30, 42, 61, 7, 0]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [85]:
set2 = set(sample_list_2)
print(set2)
print(len(set2))

# The length is not 80 because the values are repeated.

{0, 1, 3, 7, 10, 11, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 34, 37, 38, 39, 40, 42, 43, 44, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 65, 66, 67, 68, 69, 70, 73, 75, 77, 79, 82, 83, 84, 85, 86, 87, 92, 98, 99}
60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [86]:
set3 = set1-set2
print(set3)

{2, 4, 5, 6, 9, 13, 18, 21, 35, 36, 41, 45, 48, 53, 62, 63, 64, 71, 74, 76, 78, 80, 81, 88, 89, 90, 91, 93, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [87]:
set4 = set2 - set1
print(set4)

{0, 66, 99, 70, 15, 19, 85, 86, 27, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [88]:
set5 = set1 and set2
print(set5)

{0, 1, 3, 7, 10, 11, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 34, 37, 38, 39, 40, 42, 43, 44, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 65, 66, 67, 68, 69, 70, 73, 75, 77, 79, 82, 83, 84, 85, 86, 87, 92, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [89]:
len(set1) + len(set2) == len(set3) + len(set4) + (len(set5)*2)

False

#### Create an empty set called `set6`.

In [90]:
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [91]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [92]:
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [93]:
set1.issubset(set2)

False

In [94]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [95]:
aggregation1 = set3.union(set4, set5)
print(aggregation1)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 98, 99}

In [96]:
aggregation2 = set1.union(set2)
print(aggregation2)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 98, 99}

In [97]:
aggregation1 == aggregation2

True

#### Using the `pop` method, remove an element from `set1`.

In [98]:
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [102]:
set_final = [x for x in set1 if x not in list_to_remove]
print(set_final)

[2, 3, 4, 5, 6, 7, 10, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 30, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 87, 88, 90, 92, 93, 94, 96, 98]